---
# Only the main Sass file needs front matter (the dashes are enough)
---

$baseurl: "{{ site.baseurl }}";

$breakpoints: (
  "small": (
    min-width: 767px,
  ),
  "medium": (
    min-width: 992px,
  ),
  "large": (
    min-width: 1200px,
  ),
) !default;

@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

html {
  font-family: stratos, sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  background: #fef5de;
  text-align: left;
  padding: 0;
  margin: 0;
  height: 100vh;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 300;
}

h1 {
  font-weight: 500;
}

h2 {
  font-size: 1.375rem;
  line-height: 2rem;
  @include respond-to("medium") {
    font-size: 2.5rem;
    line-height: 3.125rem;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-content {
  height: 100%;
  padding: 4rem;
  height: 100%;
  width: 92%;
  height: 100%;
  @include respond-to("medium") {
    padding: 6rem;
  }
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    max-width: 64rem;
    margin-top: 2rem;
  }
}

img {
  display: block;
  width: 100%;
}

.social-links {
  margin-top: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  li:not(:last-of-type) {
    margin-bottom: 0.5rem;
    @include respond-to("medium") {
      margin-bottom: 0;
      margin-right: 2rem;
    }
  }
  a {
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
    &:hover span.text {
      font-family: temeraire, serif;
      font-weight: 600;
      font-style: italic;
    }
    span {
      display: inline-block;
    }
    & + a {
      margin-left: 1.25rem;
    }
  }
  @include respond-to("medium") {
    li {
      display: inline-block;
    }
  }
}

.border {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  border-width: 50px;
  border-image-source: url("#{$baseurl}/assets/images/border.svg");
  border-image-slice: 70;
}

.flower {
  color: #f26933;
}

.smile {
  color: #36bdc6;
}

a.big-human {
  color: #000;
  display: inline-block;
  position: relative;
  text-decoration: none;
  &::before {
    content: '';
    position: absolute;
    bottom: -.3rem;
    left: 0;
    right: 0;
    height: 6px;
    display: block;
    background-image: url("#{$baseurl}/assets/images/wavy-link.svg");
    background-position: bottom bottom;
    background-repeat: no-repeat;
    opacity: 0;
  }
  &:hover::before {
    opacity: 1;
  }
}
