---
layout: default
---

<div class="main">
	<div>
		{%- include logo.svg -%}
		<h2>Leah Schmidt is an artist and illustrator in Richmond, Virginia. <span class="smile">☻</span> She is currently working on digital products as a Senior Product Designer at <a href="http://bighuman.com" class="big-human" target="_blank">Big Human</a>, and other various crafts. <span class="flower">✿</span></h2>
	</div>
	<ul class="social-links">
		<li>
			<a href="https://www.etsy.com/shop/LeahSchmidtShop" target="_blank">
				<span>🛍</span> <span class="text" title="Shop">Shop</span>
			</a>
		</li>
		<li>
			<a href="https://dribbble.com/leahschmidt" target="_blank">
				<span>🏀</span> <span class="text" title="Dribbble">Dribbble</span>
			</a>
		</li>
		<li>
			<a href="https://instagram.com/leahschm" target="_blank">
				<span>📷</span> <span class="text" title="Instragram">Instagram</span>
			</a>
		</li>
		<li>
			<a href="mailto:helloleahschmidt@gmail.com" target="_blank">
				<span>💌</span> <span class="text" title="helloleahschmidt@gmail.com">helloleahschmidt@gmail.com</span>
			</a>
		</li>
	</ul>
</div>
