---
layout: default
---

<div class="home">

	<div>
		<img src="/assets/images/logo.png" alt="">
		<div class="social-links">
			<a href="https://instagram.com/leahschm" target="_blank">
				{%- include insta.svg -%}
			</a>
			<a href="mailto:helloleahschmidt@gmail.com" target="_blank">
				{%- include mail.svg -%}
			</a>
			<a href="https://dribbble.com/leahschmidt" target="_blank">
				{%- include dribble.svg -%}
			</a>
			<a href="https://www.etsy.com/shop/LeahSchmidtShop" target="_blank">
				{%- include shop.svg -%}
			</a>
		</div>
	</div>

</div>
